@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.main-login-preview {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
}

.login-container-1 {
    background-color: #52525b;
    width: 350px;
    min-height: 500px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f363e;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
        10px 10px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    padding: 50px;
}

.login-container-1 form {
    position: relative;
    width: 100%;
}

.login-container-1 h3 {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.login-container-1 form .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.login-container-1 form .inputBox span {
    display: inline-block;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7em;
    border-left: 4px solid #fff;
    padding-left: 4px;
    line-height: 1em;
}

.login-container-1 .inputBox .box {
    display: flex;
}

.login-container-1 .inputBox .box .icon {
    position: relative;
    min-width: 40px;
    height: 40px;
    background: #ff2c74;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    font-size: 1.15em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 5px rgba(255, 255, 255, 0.25),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.login-container-1 .icon img {
    width: 16px;
}


.login-container-1 .inputBox .box input {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 5px rgba(255, 255, 255, 0.35),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.login-container-1 .inputBox .box input::placeholder {
    text-transform: lowercase;
}

.login-container-1 .inputBox .box input[type="submit"] {
    background-color: #1f83f2;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 5px rgba(255, 255, 255, 0.25),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 10px;
}

.login-container-1 .inputBox .box input[type="submit"]:hover {
    filter: brightness(1.1);
}

.login-container-1 label {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85em;
    display: flex;
    align-items: center;
}

.login-container-1 label input {
    margin-right: 5px;
}

.login-container-1 .forget-pass {
    text-align: center;
}

.login-container-1 .forgot {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85em;
    text-decoration: none;
}

.login-container-1 .forgot:hover {
    text-decoration: underline;
    color: #1f83f2;
}







/* 2nd Login From  */

.login-container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.25),
        10px 10px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(136, 135, 135, 0.5),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(147, 143, 143, 0.75);
}

.login-container h3 span {
    border-bottom: 2mm ridge #1f83f2;
}

.login-container input:not([type='submit']) {
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0.2px solid black;
}

.login-container input:focus:not([type="submit"]) {
    outline: 2px solid #1f83f2;
}

.login-container input[type="submit"] {
    width: 5rem;
    font-size: 1.1rem;
    padding: 8px 10px;
    cursor: pointer;
    background-color: #1f83f2;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.login-container p,
.login-container .result {
    text-align: center;
}

.login-container p {
    margin: 0px 30px;
}