@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Kalam:wght@300;400;700&family=Sen:wght@400;700;800&display=swap');
@import url("/css/code-snippet.css");
@import url("/css/button.css");
@import url("/css/profile.css");

:root {
    --nav-color: rgb(177, 180, 183);
    --primary-color: rgb(0, 128, 128);
    --footer-color: rgb(235, 235, 235);
    --font-1: 'Handlee', cursive;
    --font-2: 'Kalam', cursive;
    --font-3: 'Sen', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}


.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffffb3;
    z-index: 1;
}

.loader img {
    width: 10rem;
}

nav.desktop {
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-color);
    padding: 10px;
    font-family: var(--font-1);
}

nav.desktop .nav-left {
    display: flex;
    gap: 25px;
    margin-left: 45px;
}

nav.desktop .nav-left img,
nav.mobile .nav-left img {
    width: 100px;
    cursor: pointer;
}

nav.desktop .nav-left a {
    text-decoration: none;
    color: black;
    cursor: default;
}

nav.desktop .nav-left ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

nav.desktop .nav-left li {
    margin: 0px 20px;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}

nav.desktop .nav-left li.active {
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
}

nav.desktop .nav-left li:hover:not(.active) {
    text-decoration: underline;
}

nav.desktop .nav-right {
    margin-right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav.desktop .nav-right *:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.2s;
}


/* NavBar for Mobile */


nav.mobile {
    display: none;
}

nav.mobile .nav-head {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    font-family: var(--font-1);
}

nav.mobile .nav-right img,
.docs-menu img {
    width: 2rem;
    cursor: pointer;
}

nav.mobile .nav-content {
    position: fixed;
    top: 0px;
    z-index: 2;
    display: none;
}

nav.mobile .left-nav-content {
    background-color: #00000099;
    height: 100vh;
    width: 50vw;
}

nav.mobile .right-nav-content {
    height: 100vh;
    width: 50vw;
    min-width: 250px;
    background-color: white;
    padding: 20px;
}

.close-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 0.5px solid #00000033;
    font-family: var(--font-2);
    color: var(--primary-color);
}

.mobile-icons,
.close-icon {
    width: 30px;
    cursor: pointer;
}

.close-icon {
    position: fixed;
    right: 30px;
    top: 20px;
}


nav.mobile .right-nav-content ul {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
    border-bottom: 0.5px solid #00000033;
}

nav.mobile .right-nav-content ul a {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: black;
}

nav.mobile .right-nav-content ul a:nth-child(2) {
    margin-bottom: 30px;
}

nav.mobile .right-nav-content .nav-social {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10%;
}

::selection {
    background-color: var(--primary-color);
    color: white;
}

/* Header for Index.html  */

header {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

header .left-header {
    margin-top: 100px;
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header .right-header {
    width: 30vw;
}

header .left-header .slogan h1 {
    font-size: 3rem;
    text-align: center;
}

header .left-header .slogan h1 span {
    color: var(--primary-color);
    font-family: var(--font-3);
}

header .left-header .slogan p {
    text-align: center;
    margin: 20px;
    font-size: 1.3rem;
    font-family: var(--font-2);
}

header .left-header button {
    font-size: 1.1rem;
    padding: 14px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

header .left-header button:hover {
    color: black;
    background-color: #6c949a;
    transition: 0.2s;
}

header .left-header button:active {
    transform: scale(0.9);
    transition: 0.2s;
}

header .right-header img {
    width: 25vw;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


/* Code Snippet */

.code-snippet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-snippet div.code-toolbar {
    width: 60vw;
}

.code-snippet div.code-toolbar>.toolbar {
    top: 1.2rem;
}


/* Footer  */

footer {
    background-color: var(--footer-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

footer img {
    width: 100px;
    display: block;
}




/* Documentation  */

nav.mobile .docs-close-outline {
    display: none;
}

.main-docs {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* left side (sidebar) Menu */

.left-docs {
    width: 250px;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: whitesmoke;
    padding: 20px;
    border: 0.5px solid #00000033;
    border-radius: 0 10px 10px 0;
    overflow-y: auto;
    z-index: 1;
}

.left-docs h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: -20px;
}

.left-docs .menu2 {
    margin-top: 40px;
}

.left-docs img {
    width: 25px;
}

.left-docs ul {
    list-style: none;
    margin: 15px 0px 15px 15px;
}

.left-header-menu ul a {
    text-decoration: none;
    color: black;
}

.left-docs ul li {
    width: fit-content;
    margin: 6px 0px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.left-docs ul li:hover:not(.active) {
    background-color: #0000000f;
}

.left-docs ul li.active {
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: var(--primary-color);
}

.left-docs::-webkit-scrollbar,
.right-docs::-webkit-scrollbar,
.index-page::-webkit-scrollbar {
    width: 10px;
}

.left-docs::-webkit-scrollbar-track,
.right-docs::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.index-page::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
}

.left-docs::-webkit-scrollbar-thumb,
.right-docs::-webkit-scrollbar-thumb {
    background: var(--nav-color);
    border-radius: 10px;
}

.index-page::-webkit-scrollbar-thumb {
    background: var(--nav-color);
    border-radius: 0px;
}

.left-docs::-webkit-scrollbar-thumb:hover,
.right-docs::-webkit-scrollbar-thumb:hover,
.index-page::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}


/* Right side of documentation */

.right-docs {
    width: 85vw;
    height: 85vh;
    overflow-y: auto;
    color: #000000cc;
    font-family: var(--font-3);
    padding: 0rem 2.5rem;
}

.right-docs>div {
    min-height: 90vh;
}

.right-docs ol li {
    margin: 25px;
}

code:not(.language-html code) {
    color: red;
    background-color: #0000001a;
    display: inline-block;
}

.right-docs h1,
.right-docs h2,
.right-docs h3 {
    margin: 20px 0px;
}


/* Button Preview on Installation Section  */

.button-preview {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0px;
}

button#btn-primary,
button#btn-secondary {
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    font-family: var(--font-2);
    border: 0.5px solid transparent;
}

button#btn-primary:active,
button#btn-secondary:active {
    transform: scale(0.9);
    box-shadow: 3px 3px 25px #00000099;
}

button#btn-primary {
    background-color: var(--primary-color);
    color: white;
}

button#btn-secondary {
    background-color: var(--nav-color);
    color: var(--primary-color);
}

button#btn-primary:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: 0.5px solid var(--primary-color);
}

button#btn-secondary:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: 0.5px solid var(--primary-color);
}


/* Navbar Preview  */

.mobile-desktop-nav-preview {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
}

.mobile-nav-preview {
    max-width: 600px;
}

.mobile-nav-preview nav.mobile {
    display: contents;
}

.right-docs .invisible {
    display: none;
}

.right-docs .visible {
    display: contents;
}


/* Media Query for Responsiveness  */


@media screen and (max-width:900px) {
    html {
        font-size: 14px;
    }
}


@media screen and (max-width:700px) {
    html {
        font-size: 13px;
    }

    nav.mobile {
        display: contents;
    }

    nav.desktop {
        display: none;
    }

    nav.docs-mobile {
        display: grid;
        grid-template-columns: 3;
    }
}


@media screen and (max-width:600px) {

    header {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    header .left-header {
        height: fit-content;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    header .logo-header img {
        width: 200px;
    }

    header .get-started {
        margin: 0px 0px 30px 0px;
    }

    header .get-started button {
        width: 130px;
    }

    header .right-header {
        order: -1;
        margin-top: 50px;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    header .right-header img {
        width: 60vw;
    }

    .slogan {
        width: 90vw;
    }

    nav.mobile .left-nav-content {
        width: 20vw;
    }

    nav.mobile .right-nav-content {
        width: 80vw;
    }

    .code-snippet div.code-toolbar {
        width: 80vw;
    }

    .left-docs {
        height: 90vh;
        position: absolute;
        top: 0;
        left: -350px;
        transition: 0.8s;
        display: none;
    }

    .right-docs {
        width: 100vw;
    }
}


@media screen and (min-width:600px) {
    .docs-menu {
        display: none;
    }
}

@media screen and (max-width:350px) {
    html {
        font-size: 10px;
    }

    .left-docs {
        width: 100vw;
    }

    .button-preview {
        gap: 6px;
    }
}